<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCHibernateManyToManyCRUDExample:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMVCHibernateWithSpringSecurityExample.war">
      <element id="artifact" artifact-name="SpringMVCHibernateManyToManyCRUDExample:war exploded" />
    </root>
  </artifact>
</component>